{
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },

  "extends": ["airbnb/base", "plugin:react/recommended"],

  "parser": "babel-eslint",

  "env": {
    "browser": true
  },

  "rules": {
    "no-console": ["off"],
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "max-len": ["error", { "code": 120, "tabWidth": 2 }],
    "arrow-parents": ["off", { "requireForBlockBody": true }],
    "import/prefer-default-export": "off",
    "eslint no-param-reassign": ["off", { "props": false }],
    "no-prototype-builtins": "off"
  }
}
