@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-image: url(https://www.firestock.ru/download/s/61jiwoez2o9gwv4/Dollarphotoclub_62526017.jpg?dl=0);
  background-attachment: fixed;
  background-size: cover;
}
